body{
    margin: 0%;
    position: relative;
    background-color: black;
    overflow-x: hidden;
}

.container{
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.part-one{
    position: relative;
    width: 100vw; 
    height: 100vh; 
    max-height: 100vh;
    overflow: hidden;
   
}
.background-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
.glass{
    font-family: 'Norse', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    position: absolute;
    color: #ffffff;
    font-size:xx-large;
    text-align: center;
    justify-content:center;
    top: 5%;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(48, 43, 43, 0.5);
    z-index: 0  ;
}
h1{
    margin-top: 10%;
}
.logo {
    padding: 2%;
    width: 150px; 
    height: auto; 
    margin: 10px;
}


.part-two{
    flex-grow: 1;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    background-color: rgb(94, 92, 19);
    justify-content: space-evenly;
    overflow-y: auto; 
    color: #ffffff;
}
.text{
    padding: 2%;
}
.form{
    margin: 0%;
    position:relative;
    padding: 2%;
    display: block;
    background-color: rgb(137, 129, 33);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);

}
.labels{
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    justify-content:first baseline; 
    align-content:start;
    gap: 1em;

}

input{
    border: none;
    outline: none;
    background: none;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    border-bottom: 2px solid #9fc204;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(137, 129, 33) inset !important;
    -webkit-text-fill-color: #ffffff !important;
  
}

.fname, .lname, .mail,.phone,.pass,.con-pass{
    padding: 2%;
    display: flex;
    flex-direction: column;
    flex-basis: calc(30% - 1em);
}
@media screen and (max-width: 1020px) {
    .container{
        display: flex;
        flex-direction:column;
        justify-content: center;
    }

    .glass{
        position: absolute;
        top: 5%;
        left: 0;
        width: 100%;
        height: 25%;
        background-color: rgba(48, 43, 43, 0.5);
        z-index: 2;
    }
    .logo{
        width: 5%;
    }
    h1{
        font-size: large;
        margin-top: 5%;
    }
    .part-one {
        width: 100%; 
        height: auto; 
        max-height: none; 
    }

    .background-image {
        width: 100%; 
        height: auto; 
        object-fit: cover; 
    }

    .part-two {
        font-size: large;
        max-width: 100%;
        overflow-y: auto; 
    }
    
    .labels{
        font-size: small;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        justify-content:first baseline; 
        align-content:start;
        
    }
}

input{
    width: 100%;
    font-size: larger;
}

button{
    background-color: rgb(231, 177, 10);
    font-size:large;
    padding: 10px 40px;
    border: none;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}
button:hover{
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0);
}
.last-text{
    padding: 5%;
}
.l-txt{
    display: flex;
    font-size: large;
    padding: 2%;
    justify-content: first baseline;
}
a{
    text-decoration: none;
    color: rgb(231, 177, 10);

}
.error-message {
    display: none;
    color: red;
    font-size: 14px;
}